@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import "bootstrap/dist/css/bootstrap.min.css";
@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/navigation';

.home__product {
    /* padding: 15px 0px 0px; */
    border-radius: 10px;
    overflow: hidden;
}

.home__product .product__row {
    border-radius: 10px;
}

.product__row__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    background-color: #d1fde8;
    border-radius: 10px;
}

.home__product .product__info {
    max-width: 85%;
    width: 85%;
    color: #198754;
    font-weight: 900;
    font-size: 18px;
    margin-left: 10px;
    padding: 10px 0px;

}

.home__product .product__info .product__sale {
    width: 190px;
    color: #ffffff;
    background: #198754;
    font-weight: 700;
    font-size: 18px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    padding: 2px 0;
    border-radius: 10px;
    margin: 10px 0px 0px 10px;
}

.home__product .product__info .product__time {
    color: #198754;
    background: #ffffff;
    font-size: 13px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    padding: 0 6px;
    border-radius: 5px;
    margin-left: 5px;
}

.product__btn__viewall {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 17px !important;
    padding: 8px 8px !important;
    background-color: #ffffff !important;
    color: #198754 !important;
    font-size: 14px !important;
    width: auto !important;
}

.product__btn__viewall svg {
    margin-left: 5px;
    font-size: 16px;
}

.product__btn__viewall:hover {
    background-color: #198754 !important;
    color: #ffffff !important;
}

.product__item {
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    position: relative;
}

.product__item .badge {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px 5px;
    border-radius: 10px;
    font-size: 12px !important;
    font-weight: 700;
    z-index: 1;
}

.home__product .swiper .swiper-wrapper {
    padding: 5px 0 !important;
}

.badge-primary {
    background-color: rgb(21, 134, 255) !important;
}

.action {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}

.sanpham {
    padding: 15px 0px 0px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    border: 2px solid rgba(0, 0, 0, 0.1);
}